body {
    background-color: black;
}
img {
    max-width: 100%;
}

.header {
    width: 100%;
    height: 100vh;
    background-image:linear-gradient(rgba(1,1,1,.5),rgba(1,1,1,.5)), url(/netflix\ img/arkaplan.jpg);
    background-position: center;
    background-size: cover;
}

ul{
    margin: 0 !important;
    padding: 0 !important;
}

ul li {
    list-style: none;
    margin-top: .8rem ;
}
 
ul li a {
    color: white;
    text-decoration: none;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
}


ul li a:hover {
    color: white;
}

.header-row {
    height: 80vh;
}

h1 {
    font-size: 3.125rem;
    margin: 0 auto;
    max-width: 640px;
}
h3 {
    font-size: 1.125rem;
    font-weight: bold;
}
.input-group .form-control {
    width: 76%;
    height: 60px;
}

.input-group .btn {
    width: 150px;
}

.accordion-button {
    border: none;
}
.accordion-button {
    background-color: rgba(55,55,55);
    margin-top: 1rem;
    color: white;
}

.accordion-button:not(collapsed) {
    background-color: rgba(55,55,55);
    color: white;
}

.accordion-button:focus{
    box-shadow: none;
}

.card-tag {
    text-align: center;
    font-size: 1.125rem;
    margin-top: 2.5rem;

}

.dropdown-menu {
    min-width:115px;
}
.dropdown-item:hover {
    background-color: rgb(22, 69, 131);
    color: white;
}
.input-group {
    justify-content: center;
}

.accordion-body {
    background-color: white;
}

.accordion-button:not(.collapsed) {
background-color: white;;
color: rgb(255, 21, 21);
}


.mt-5 {
    font-size: 13px;
}

.h4yazi {
    font-size: 13px;
}

